
# pixi environments
.pixi
*.egg-info

# Byte‑compiled Python files
__pycache__/
*.py[cod]
*$py.class

# pytest cache
.pytest_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
*.swp

# figures and data
figures/
data/noise_realizations/

# Output files
outputs/
multirun/